*{
   margin:0;
   padding:0;
}
html,body{
    height:100%; 
}
body{
    background-color:color|transparent|initial|inherit; 
    background-image:url(images/bg_pic.jpg);
    background-position:center; 
    background-size:cover; 
}